SECRET_KEY=generate-a-strong-random-key-here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

AWS_REGION=us-east-1
DYNAMODB_ENDPOINT=http://localhost:8000
AWS_ACCESS_KEY_ID=dummy
AWS_SECRET_ACCESS_KEY=dummy

# Real SMTP Email Configuration
# SMTP_HOST=somasekhar.tammana.gmail.com
# SMTP_PORT=587
# SMTP_USER=somasekhar.tammana2004@gmail.com
# SMTP_PASSWORD=ndeucibyjjgkimxr
# SMTP_FROM_NAME=Acme IT Operations
